$desktop: 1024px;
$tablet: 780px;
$mobile: 425px;

.weather-app {
    padding: 20px;

    .weather-app__current-weather-time {
        color: #f15d46;
    }

    .weather-app__current-weather-description,
    .weather-app__forecast-weather-description {
        text-transform: capitalize;
    }

    .weather-app__forecast-weather-description {
        font-size: 10px;
    }

    .weather-app__forecast-weather-pop {
        font-size: 10px;
    }

    .weather-app__current-weather-temp {
        font-size: 40px;
    }

    .weather-app__unit-switch {
        position: relative;
        width: 60px;
        display: inline-block;
        vertical-align: middle;
        text-align: left;

        .weather-app__unit-switch-checkbox {
            display: none;
        }

        .weather-app__unit-switch-label {
            display: block;
            overflow: hidden;
            cursor: pointer;
            border: 0 solid #f15d46;
            border-radius: 20px;
            margin: 0;
        }

        .weather-app__unit-switch-inner {
            display: block;
            width: 200%;
            margin-left: -100%;
            transition: margin 0.3s ease-in 0s;

            &:before,
            &:after {
                display: block;
                float: left;
                width: 50%;
                height: 34px;
                padding: 0;
                line-height: 34px;
                font-size: 14px;
                color: white;
                font-weight: bold;
                box-sizing: border-box;
            }

            &:before {
                content: "\2103";
                text-transform: uppercase;
                padding-left: 10px;
                background-color: #f15d46;
                color: #fff;
            }
        }

        .weather-app__unit-switch-inner:after {
            content: "\2109";
            text-transform: uppercase;
            padding-right: 10px;
            background-color: #f15d46;
            color: #fff;
            text-align: right;
        }

        .weather-app__unit-switch-switch {
            display: block;
            width: 24px;
            margin: 5px;
            background: #fff;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 25px;
            border: 0 solid #f15d46;
            border-radius: 20px;
            transition: all 0.3s ease-in 0s;
        }

        .weather-app__unit-switch-checkbox:checked+.weather-app__unit-switch-label {
            .weather-app__unit-switch-inner {
                margin-left: 0px;
            }

            .weather-app__unit-switch-switch {
                right: 0px;
            }
        }
    }

    .weather-app__weather-card {
        padding: 20px;
        border: 1px solid #D6DADC;
        border-radius: 10px;

        .weather-app__weather-card_title {
            font-size: 30px;
        }

        .weather-app__weather-card--current {
            display: flex;

            .weather-app__weather-card__info-block {
                flex: 5;
            }

            .weather-app__weather-card__present-day-forecast {
                display: inherit;
                flex: 7;
                justify-content: flex-start;
                flex-flow: row wrap;
            }

            .weather-app__present-day--hourly-forecast {
                align-self: center;
                text-align: center;
                border-bottom: 1px solid #D6DADC;
            }
        }

        .weather-app__weather-card--forecast {
            .weather-app__forecast-container {
                margin-top: 10px;
            }

            .weather-app__forecast-date {
                font-size: 25px;
                padding-bottom: 5px;
                border-bottom: 1px solid #D6DADC;
                margin-bottom: 15px;
            }

            .weather-app__forecast-day {
                display: flex;
                flex-flow: row wrap;
            }

            .weather-app__forecast-day--hourly-forecast {
                text-align: center;
            }
        }
    }

    @media screen and (min-width: 1024px) {
        .weather-app__weather-card--current {
            flex-flow: row nowrap;
        }

        .weather-app__present-day--hourly-forecast {
            padding: 15px;
            width: calc(100%/5);
        }

        .weather-app__forecast-day--hourly-forecast{
            padding: 15px;
            width: calc(100%/8);
            border-right: 1px solid #D6DADC;

            &:last-of-type {
                border-right: none;
            }
        }
    }

    @media screen and (max-width: 1023px) and (min-width: 768px) {
        .weather-app__weather-card--current {
            flex-flow: row nowrap;
        }

        .weather-app__present-day--hourly-forecast,
        .weather-app__forecast-day--hourly-forecast{
            width: 25%;
        }

        .weather-app__present-day--hourly-forecast {
            padding: 10px;
        }

        .weather-app__forecast-day--hourly-forecast {
            padding: 10px;
            border-right:1px solid #D6DADC;

            &:nth-child(4n+4) {
                border-right:none;
            }

            &:nth-child(-n+4) {
                border-bottom: 1px solid #D6DADC;
            }
        }

    }

    @media screen and (max-width: 425px) {
        .weather-app__weather-card--current {
            flex-flow: column nowrap;
        }

        .weather-app__weather-card__info-block {
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom:1px solid #D6DADC;
        }

        .weather-app__present-day--hourly-forecast,
        .weather-app__forecast-day--hourly-forecast{
            width: 50%;
        }

        .weather-app__present-day--hourly-forecast {
            padding: 5px;
        }

        .weather-app__forecast-day--hourly-forecast {
            padding: 5px;

            &:nth-child(odd) {
                border-bottom:1px solid #D6DADC;
                border-right:1px solid #D6DADC;
            }
            
            &:nth-child(2n+7) {
                border-bottom: none;
            }
            
            &:nth-child(even) {
                border-bottom:1px solid #D6DADC;

                &:last-child{
                    border-bottom: none;
                }
            }
        }
    }
}